@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model DomainLayer.ProductModel.ProductEntity
@{
    var data = ViewData["images"] as IEnumerable<DomainLayer.ProductModel.Images>;
    var data1 = ViewData["images"] as IEnumerable<DomainLayer.ProductModel.Images>;
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

<h3> Product Details </h3>
<div class="sticky" width="50%" style="float: left; height: 79vh; background: aliceblue; margin: 2%; width: 71vh; ">
    <p width="50%">
        <div class="row">
            <div class="col-2">
                @{if (Model.images == null)
                    {
                        <h1>No iamges</h1>
                    }
                    else
                    {
                        foreach (var item in Model.images)
                        {
                            <div class="card" style="width : 50px; height:100px;">
                                <img src="~/Product/Images/@item.imagePath" style="width: 48px; padding:6px;" onclick="showImage('@item.imagePath');" />
                                <span class="glyphicon glyphicon-remove  position-absolute" style="background-color: cornsilk;width: 39%; cursor: pointer; height: 19%;" aria-hidden="true" onclick="deleteImage(@item.id)"></span>

                            </div>
                        }
                        <i class="fa fa-plus add-image" onclick="someFunction(@Model.id)" aria-hidden="true" style="padding: 16px;border-block: 1px black;border: 2px solid;margin-top: 11px; margin"></i>
                    }}
            </div>
            <div class="col-10 row">
                <div class="col-12">
                    @{if (Model.images != null && Model.images.Any())
                        {

                            <img class="showimage" src="~/Product/Images/@Model.images.FirstOrDefault().imagePath" alt="No images available" />

                        }
                        else
                        {
                            <p>No Image</p>
                        }}
                </div>
                <a class="disableBtn col-12">Disable</a>
            </div>
        </div>
    </p>
</div>
<div class="row col-6">
    <div class="col-12 name">@Model.name</div>
    <div class="col-12 price">&#8377 @Model.price</div>
    <div class="col-12 row" style="margin-top:14px;"><div class="col-6 quantity">Curent Quantity :  @Model.quantity</div><div class="col-6"><form asp-action="quatity" method="post"><input asp-for="model" type="hidden" /><input name="newQuantity" required type="number" /><button>ADD</button></form></div></div>
    <table class="specTable">
        <tr>
            <td>
                Highlights
            </td>
            <td>
                <ul>
                    <li>@Model.specs.os</li>
                    <li>@Model.specs.processor</li>
                    <li>@Model.specs.core</li>
                    <li>
                        @foreach (var item in Model.specs.rams.ToList())
                        {<span style="padding-right:14px; border-block: outset;">@item.ram </span>}
                    </li>
                    <li>
                        @foreach (var item in Model.specs.storages.ToList())
                        {<span style="padding-right: 14px; border-block: outset;">@item.storage </span>}
                    </li>
                    <li>@Model.specs.simType</li>
                    <li>Rear Camera : @Model.specs.camFeatures</li>
                    <li>Quantity : @Model.quantity</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                Description
            </td>
            <td>
                <ul>
                    <li>
                        This MSI gaming laptop features a SteelSeries silver-lining printing keyboard that only enhances the appeal of the laptop but also ensures lasting build quality. This gaming laptop also ensures quiet and cool performance even under heavy load. And, with Hi-resolution Audio, you can experience rich sound while playing music, streaming content, gaming, and so on.
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<div id="partialModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>

        </div>
    </div>
</div>


<div id="deleteModel" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>

        </div>
    </div>
</div>
        </div>
<style>
    div.sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: yellow;
        padding: 50px;
        font-size: 20px;
    }

    .disableBtn {
        text-align: center;
        margin: 5%;
        background: antiquewhite;
        padding: 11px;
    }

    .specTable {
        width: 100%;
        margin-top: 3%;
        font-size: 18px;
    }

    .name {
        font-weight: bold;
        margin: 19px;
        font-size: 45px;
    }

    .price {
        font-weight: bold;
        font-size: 28px;
    }

    .quantity {
        font-weight: bold;
        font-size: 22px;
    }
</style>
<script>

    function showImage(data) {

        $(".showimage").attr('src', '/Product/Images/' + data);
    }
    function someFunction(data) {
        var id = data;
        $(document).ready(function (e) {
            $.ajax({
                url: '/admin/ProductDetails/AddImage/' + id,
                type: 'get',
                success: function (response) {
                    $("#partialModal").find(".modal-body").html(response);
                    $("#partialModal").modal('show');
                },
                failure: function (response) {
                    alert("fail");
                },
                error: function (response) {
                    console.log(response);
                }
            })

        });
    }



</script>
<style>
    .col-6 {
        padding-left: 36px;
    }

    p {
        display: block;
    }
</style>

<script>
    function deleteImage(data) {
        var id = data;
        $.ajax({
            url: 'DeleteImage/' + id,
            type: 'get',
            success: function (response) {
                $("#partialModal").find(".modal-body").html(response);
                $("#partialModal").modal('show');
            },
            failure: function (response) {
                alert("fail");
            },
            error: function (response) {
                console.log(response);
            }
        })

    }


    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>