@{
    var values = Enum.GetValues(typeof(DomainLayer.OrderStatus));
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/SideBar.css" />
    <link rel="stylesheet" href="~/css/navigation-bar.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="~/css/footer.css" />
</head>
<body>

  


    <nav class="navbar navbar-light bg-light">

        <div class="container-fluid">
            <img src="~/css/Images/depositphotos_69864645-stock-illustration-letter-m-logo-icon-design-removebg-preview.png" alt=" Mobizone" style="height:100px; width:100px;"
                 class="float-left" />
            <a class="navbar-brand justify-content-start" asp-action="Index" style="margin-left:-6px;">MOBIZONE</a>
            <div>
                <input class="input-group-lg" />
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>


            <div>
                <i class="fa-solid fa-cart-shopping"></i>
                <a class="mr-3">Cart</a>
                <i class="fa-solid fa-user"></i>
                @if (User.Identity.IsAuthenticated)
                {

                    <a asp-controller="User" asp-action="account">@User.Identity.Name </a>
                    <a asp-controller="User" asp-action="Logout">Logout</a>



                }
                else
                {

                    <a asp-action="Login">Account</a>
                }
            </div>

        </div>
    </nav>

    <div class="sidebar" style="position: fixed; padding-top: 114px;">
        <div id="filter">
            <a class="@(Context.Request.Path == "/User/filter" || Context.Request.Path == "/user/Create" ? "active" : "")">Filter</a>
        </div>
        <div id="dropdown1" class="dropdown">
            <form asp-action="filter" method="post">
                <select name="brandName" asp-items="new SelectList(ViewBag.BrandList)">
                </select>

                <input class="@(Context.Request.Path == "/User/filter" ? "active " : "")" type="submit"></input>
            </form>
        </div>

        <div id="sort">
            <a class="@(Context.Request.Path == "/Admin" || Context.Request.Path == "/User/sort" ? "active" : "")">Sort</a>
            <div id="dropdown2" class="dropdown">
                <a asp-action="Create" class="@(Context.Request.Path == "/User/sort" ? "active " : "")">Price</a>
            </div>
        </div>
    </div>



    <div class="content " style=" padding: 143px 16px;">
        <div class="container-fluid" style=" margin-left: 0px;">
            <main role="main" class="pb-3">
                <div id="mypartialview"></div>
                <div>
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted">


        <ul class="list">
            <li>
                <div class="row">
                    <div class="Col">
                        <img src="~/css/Images/depositphotos_69864645-stock-illustration-letter-m-logo-icon-design-removebg-preview.png" alt=" Mobizone" style="height:177px; width:182px; margin-left:156px"
                             class="float-left" />
                        <a class="float-xl-left" asp-action="Index" style="margin-right:8000px">MOBIZONE</a>
                    </div>


                </div>


            </li>
            <li class="about">
                <a asp-controller="User" asp-action="Company" style="margin-right:-86px">Company</a>
            </li>
            <li class="about">
                <a asp-controller="User" asp-action="About" style="margin-right:-86px">About</a>
            </li>

            <li class="about">
                <a asp-controller="User" asp-action="Privacy" style="margin-right:-86px">Privacy Policy</a>
            </li>

            <li class="about">

                <a asp-controller="User" asp-action="Contact" style="margin-right:-86px">Contact</a>

            </li>



            <hr>
            <li>
                <img src="~/css/Images/copyright-38672_1280.png" alt="Mobizone" style="height:18px; width:18px;" />
                <a href=#> Mobizone private limited all right reserved</a>



            </li>

        </ul>

        </div>
        </div>

        <style>
            .container-fluid {
               width: 100%;
               padding-right: 15px;
                padding-left: 15px;
               margin-right: auto;
                margin-left: 0px;
            }
            
        
            .dropdown {
                display: none;
                background-color: #275e4900;
                padding-left: 8px;
                text-align: center;
                font-size: medium;
            }

            a {
                cursor: pointer;
            }
        </style>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#filter").click(function () {
                $("#dropdown1").toggle();
            });

        });

        $(document).ready(function () {
            $("#sort").click(function () {
                $("#dropdown2").toggle();
            });
        });
    </script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
