@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Simpleview/_accountLayout.cshtml";
    ViewData["Title"] = "Mobizone- My Account";

}
@{
    var user = ViewData["userData"] as DomainLayer.Users.UserRegistration;
}

<div class="card-body">
    <div class="col-md-9">
        <div class="tab-content" style="margin-right:10%;padding-top:10%;padding-bottom:-15%">
            <div class="tab-pane fade active show" id="account-general">

                <div class="card-body media align-items-center">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-label" style="margin-left:37%">Username : @user.Email</label>


                        </div>
                        <div class="form-group">

                            <label class="form-label" style="margin-left:41%">Name : @user.FirstName</label>
                            @* <a asp-action=""> <button type="button"  class="btn btn-orange" />Edit</button></a>*@

                        </div>

                        @if (user.address == null || user.address.Count == 0)
                        {
                            <p style="padding-left: 41%;">No Address available</p>

                        }
                        else
                        {
                            <div class="form-group">

                                <div class="row">


                                    <div class="col">

                                        <p style="margin-left:38%"> Address : @user.address.FirstOrDefault().address</p>
                                        <p style="margin-left:47%">@user.address.FirstOrDefault().pincode,@user.address.FirstOrDefault().district</p>
                                        <p style="margin-left:47%"> @user.address.FirstOrDefault().state,@user.address.FirstOrDefault().country</p>
                                        
                                    </div>
                                </div>

                            </div>
                        }
                        <div class="text-right mt-3">


                            @* <a asp-action="address"> <button type="button" value="Save" class="btn btn-orange" />Edit</button></a>*@
                            <a type="button" class="btn  btn-orange" style="background-color: #0099f3; padding-left: 1%; padding-right: 1%; color: white; " asp-action="index">Back</a>&nbsp;



                        </div>
                    </div>

                </div>

            </div>


        </div>
    </div>

</div>

<style>
    a:hover{
    color:inherit !important;
    }
</style>



