@model IEnumerable<DomainLayer.CartDetails>

@{
    ViewData["Title"] = "AddtoCart";
    ViewData["carts"] = Model.ToList();
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link href="~/css/Quantity.css" rel="stylesheet" />
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js" defer></script>
<script data-require="jquery@3.1.1" data-semver="3.1.1" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="~/js/Quantity.js"></script>
@{
    int? price = 0;
    foreach (var data in Model)
    {
        price = price + data.price;
    }
}

    <div class="row" style="height: 70vh;">
        <div class="col-8">
            @foreach (var data in Model)
            {
      
                <div class="row">
                    <div class="col-2">
                        <img src="~/Product/Images/@data.product.images.FirstOrDefault().imagePath" style="width: 100%;height: 84%;">
                    </div>
                    <div class="col-7">
                        <p class="textStyle" style="margin: 4%;">@data.product.name</p>
                        <p class="textStyle textColorGreen" style="margin: 5%;">@data.price</p>
                        <div style="margin: 3%;"><span onclick="minus(@data.quantity,@data.productId)" id="minus" class="glyphicon glyphicon-minus" style="background-color: gray;padding: 5px;border-radius: 13px;margin-right: 4px;"></span><input id="quantity" style="width: 13%;margin: 6%;" type="number" value="@data.quantity" /><span id="plus" class="glyphicon glyphicon-plus" style="background-color: gray;padding: 5px;border-radius: 13px;margin-left: 4px;" onclick="plus(@data.quantity,@data.productId)"></span></div>
                    </div>
                    <div class="3" style="margin: 10%;">
                        <span onclick="deleteItem(@data.productId)" class="glyphicon glyphicon-trash" style="font-size: 27px;padding: 5%;"></span>
                    </div>
                </div>
            }
        </div>
        <div class="col-4 ">
            <div class="row" style="width: 100%;height: 77%;">
                <div class="col-12" style="border: groove;height: 14%;">
                    <p class="textStyle">Total</p>
                </div>
                <hr />
                <div class="col-12" style="border: groove;height: 70%;">
                    <p><span>Price( @Model.Count() item) : </span><span>@price</span></p>
                </div>
                <hr />
                <div class="col-12" style="border: groove;height: 17%;">
                    <p><span style="font-family: sans-serif;font-weight: bold;font-size: 17px;">Total Amount :</span><span style="color: green;font-size: 26px;text-align: center;margin: 10px;font-weight: bold;">@price</span></p>
                </div>
                <form action="/user/CartOrder" method="post">
                    <input type="hidden" value="@Model" name="carts"/>

                    <div class="col-12" style="height: 49%;padding: 10px;">
                        <div style="height: 37%;background-color: cadetblue;color: white;text-align: center;padding: 15px;font-weight: bold;font-size: 19px;margin: 0px;"> <input type="submit" value="Procees To Buy" /></div>
                    </div>
                </form>
            </div>
        </div>
    </div>

 
<style>
    .textStyle {
        font-variant-caps: unicase;
        font-style: normal;
        font-weight: bold;
        font-size: 23px;
    }

    .textColorGreen {
        color: green;
    }
</style>

@*<script>
        $(document).ready(function () {
            $.ajax({
                url: '/user/AddtoCartResponse',
                type: 'get',
                datatype: 'json',
                success: function (data) {
                    console.log(data);
                    $('#datatable').dataTable({
                        data: data,
                        columns: [
                            {
                                'render': function (data, type, full, meta) {
                                    return '<p style="font-variant: all-petite-caps;font-size: 21px;">' + full.product.name + '</p><img style="width: 100px;height: 147px;" src="/Product/Images/' + full.product.images[0].imagePath + '"/>'; } },
                            { 'data': 'price' },
                            { 'data': 'quantity' }]
                    })
                }
            });

        })
    </script>*@

<script>
    function plus(quantity, id) {
        var qty = quantity
        var id = id
        $.post("/user/quantity", { quantity: qty + 1, id: id }, function (data) {
            location.reload();
        });
    }

    function minus(quantity, id) {
        var qty = quantity
        var id = id
        $.post("/user/quantity", { quantity: qty - 1, id: id }, function (data) {
            location.reload();
        });
    }
    function deleteItem(data) {
        var id = data
        console.log(id)
        $.post("/user/removeCart", { id: id }, function (data) {
            location.reload();
        });
    }
</script>
