@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mobizone- Buy Now";
    var carts = ViewData["cartDetails"] as List<DomainLayer.CartDetails>;
}
@model DomainLayer.Checkout
@{
    var data = ViewData["ProductDetails"] as List<DomainLayer.ProductModel.ProductEntity>;
    var user = ViewData["userData"] as DomainLayer.Users.UserRegistration;
    var cartData = ViewData["cart"] as DomainLayer.MyCart;
    var values = Enum.GetValues(typeof(DomainLayer.PaymentModes));
    Layout = "~/Views/Simpleview/_BasicLayout.cshtml";
    var ReturnUrl = ViewBag.ReturnUrl as string;
    int? price = 0;
    int count = 0;
    if (cartData != null)
    {
        foreach (var cartDetailsData in cartData.cartDetails)
        {
            price = price + cartDetailsData.price;
        }
    }
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

@if (user == null)
{
    <h5>Not A User</h5>
    <a asp-action="login" class="btn btn-primary">Click To Login</a>
}
else
{ }
<div class="container-fluid mt-3">

    <div class="row" style="margin-right: 6%;margin-left: 7%;">
        <form action="/user/BuyCart" method="post" class="col" id="idForm">
            <input asp-for="id" value="0" type="hidden" />
            @*<input asp-for="productId" type="hidden" value="@data.id" />*@
            <input asp-for="userId" type="hidden" value="@user.UserId" />
            <div>

                <div class="card ">
                    <div class="">
                        <div class="address"><p class="card-title">Delivery Address</p></div>

                        @if (user.address == null)
                        {
                            <p>No address available please create one </p>
                        }
                        else
                        {
                            <div class="addressDetails" id="realDiv">
                                @foreach (var address in @user.address)
                                {
                                    <div class="form-check ">
                                        <label asp-for="@Model.addressList[count].IsChecked">
                                            <input multiple class="form-check-input check  addressInput" asp-for="@Model.addressList[count].IsChecked" type="checkbox" id="@address.id" onchange="showbutton1()" style="margin-top:-8%" />
                                        </label>
                                        @*@Html.CheckBoxFor(model => model.addressList[count].IsChecked, new { @class = "check",@id=address.id })*@
                                        <input asp-for="addressList[count].id" value="@address.id" type="hidden" />
                                        <input asp-for="addressList[count].address" value="@address.address" type="hidden" />
                                        <input asp-for="addressList[count].country" value="@address.country" type="hidden" />
                                        <input asp-for="addressList[count].district" value="@address.district" type="hidden" />
                                        <input asp-for="addressList[count].name" value="@address.name" type="hidden" />
                                        <input asp-for="addressList[count].phoneNumber" value="@address.phoneNumber" type="hidden" />
                                        <input asp-for="addressList[count].pincode" value="@address.pincode" type="hidden" />
                                        <input asp-for="addressList[count].additionalInfo" value="@address.additionalInfo" type="hidden" />
                                        <input asp-for="addressList[count].state" value="@address.state" type="hidden" />
                                        <label class="form-check-label @address.id" for="flexCheckDefault" id="@address.id">
                                            @address.name <br> @address.address<br> @address.district
                                        </label>
                                    </div>
                                    <hr />
                                    count++;
                                }
                            </div>
                        }
                        <div id="selectedAddress" style="margin:2%;"></div>

                        <div class="row">
                            <div class="col"><a id="addNewAddress" href="/user/address?ReturnUrl=@ReturnUrl" class="btn btn-orange" style=" color:white;margin-bottom:5%;">Add New Address</a></div>
                            <div class="col col d-flex justify-content-end " id="addressContinue ">
                                <a style=" background-color: #e52d2e; display: none; color: white; margin-bottom: 5%; margin-right: 3%;" href="#" class="btn btn-orange  " id="submit_prog" onclick="orderDetails()">continue</a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card order mt-3" style="display:none">
                    <div class="">

                        <h5 class="card-title address">Order Summary</h5>
                        @if (carts != null)
                        {
                            @foreach (var cart in carts)
                            {
                                <div class="orderDetails">
                                    <div class="form-check">
                                        <div class="">
                                            <div class="col-12">
                                                @if (cart.product.images == null || cart.product.images.Count() == 0)
                                                {
                                                    <p>no image</p>
                                                }
                                                else
                                                {
                                                    @foreach (var item in cart.product.images)
                                                    {
                                                        <a  asp-action="ProductDetails" asp-route-id="@cart.product.id" class="col-3">
                                                            <img src="@item.imagePath" style="width: 10%;">
                                                        </a>
                                                        break;
                                                    }
                                                }
                                                    <label class="form-check-label" for="flexCheckDefault" style="font-weight: bold;">
                                                        @if (cart.product.specs.rams != null && cart.product.specs.rams.Count() > 0)
                                                        {@cart.product.name;
                                                    }
                                                        (@if (cart.product.specs.rams != null && cart.product.specs.rams.Count() > 0)
                                                        {
                                                            @cart.product.specs.rams.FirstOrDefault().ram;
                                                        } GB, @if (cart.product.specs.storages != null && cart.product.specs.storages.Count() > 0)
                                                        {
                                                            @cart.product.specs.storages.FirstOrDefault().storage} GB)<br>&#8377 @cart.product.price
                                                            Qty:<input disabled name="quantity" asp-for="quantity" type="number" style="width:50px; height:20px;" value="@cart.quantity" id="pricetag" />
                                                        </label>
                                                    </div>

                                            </div>





                                        </div>
                                    </div>
                                }

                        }





                        <div class="row">
                            <div class="col">
                                <a href="#" class="btn btn-orange toggle-button2" style="background-color: #e52d2e; color: white; margin-bottom: 5%; " onclick="orderDetailsCancel()">cancel</a>
                            </div>
                            <div class="col col d-flex justify-content-end " style="display:none"><a href="#" class="btn btn-orange toggle-button2" style="background-color: #e52d2e; color: white; margin-bottom: 5%; margin-right: 16%; }" onclick="paymentDetails()">continue</a></div>
                        </div>

                    </div>
                </div>
                <div class="card payment mt-3" style="display:none">
                    <div class="">
                        <h5 class="card-title address">Payment</h5>
                        @foreach (var item in values)
                        {

                            <div class="form-check">
                                @* <input class="form-check-input" onchange="displaySubmit()" name="paymentModeId" type="checkbox" value='@Convert.ToInt32(item)'>*@
                                <label class="form-check-label" for="flexCheckDefault">
                                    @item
                                </label>
                            </div>
                        }
                        <p class="card-text"></p>
                        <div class="row">
                            <div class="col"><a href="#" onclick="paymentCancel()" class="btn btn-orange">Cancel</a></div>
                            <div class="col"></div>
                            <div class="col col d-flex justify-content-end "><input type="submit" value="Confirm Order" class="btn btn-orange submit" style="background-color: #e52d2e; margin-bottom: 5%; margin-right: 5%; color: white;" id="order-submit" /></div>
                        </div>
                    </div>
                </div>


            </div>
        </form>

     
        <div class="col-6 _78xt5Y">
            <div class="card" style="margin-left: 19%;margin-right: -38%;">

                <div class="Price">
                    <h5 class="card-title" style="">Price Details</h5>

                </div>
                <div>
                   <div class="card-text"> <div class="row"><p class="col-6">Price <p class="col-6" style="font-weight: bold;"> @price </p>  </div></div>
                    <div class="card-text"> <div class="row"><p class="col-6">Shipping Charge <p class="col-6" style="font-weight: bold; color: green;">  Free</p>  </div></div>
                    <div id="price"></div>
                </div>

                <div class="">
                    <div class="card-text"> <div class="row"><p class="col-6">Total Payable  <p class="col-6" style="font-weight: bold;"> @price </p>  </div></div>
                </div>




            </div>
        </div>
        <!-- Card with center text alignment -->


    </div>
</div>


<style>



    .address {
        background-color: #e52d2e;
        padding: 5px;
        font-variant: all-small-caps;
        font-size: 22px;
        padding-left: 16px;
        color: aliceblue;
    }

    .form-check {
        position: relative;
        display: block;
        padding-left: 1.25rem;
        margin: 16px;
    }

    input[type=checkbox], input[type=radio] {
        box-sizing: border-box;
        padding: 0;
        margin: 6px;
    }

    .form-check-label {
        margin-bottom: 0;
        margin-left: 32px;
    }



    .footer {
        margin-top: 333px !important;
    }

    .btn-orange {
        background: #3d8be3;
        color: white;
    }
    

    .submit {
        background-color: #3d8be3;
    }

    .Price {
        background: #e52d2e;
        color: white;
        font-variant: all-small-caps;
        padding: 8px;
    }
</style>
<script>
</script>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script>
   var addressDiv = '<div class="addressDetails" id="realDiv">';
        var previousDiv
        var sourcearray = JSON.parse('@Html.Raw(Json.Serialize(data))');
        function changePrice(data) {
            alert(sourcearray.price)
            var qty = $("input[name='quantity']").val()
        console.log(qty);
        document.getElementById("priceField").innerHTML = '<p>' + sourcearray.price * qty + '</p>';
        }
        $(document).ready(function () {

            previousDiv = $("#realDiv")[0].innerHTML
            document.getElementById("priceField").innerHTML = '<div class="row"><p class="col-6"> Price <p class="col-6">  ₹' + sourcearray.price + ' </p>';
            document.getElementById("totalPrice").innerHTML = '<div class="row"><p class="col-6" style="font-weight: bold;"> Amount Payable</p><p class="col-6" style="font-weight: bold;">  ₹' + sourcearray.price + ' </p>';
        })

                $("input[name = 'quantity']").change(function () {
            var data = document.getElementById("quantitytag").value
                document.getElementById("priceField").innerHTML = '<div class="row"><p class="col-6">Price <p class="col-6">  ₹' + sourcearray.price * data + '</p>';

                    document.getElementById("totalPrice").innerHTML = '<div class="row"><p class="col-6" style="font-weight: bold;"> Amount Payable</p><p class="col-6" style="font-weight: bold;">  ₹' + sourcearray.price * data + '</p>';

                        if (data <= 0) {
                            $('#paymentContinue').hide();
            }
                        else {
                            $('#paymentContinue').show();
            }
        });

                        //console.log(sourcearray)
                        function paymentDetails() {
                            $(".payment").show();
                        $(".cancel2").hide();
                        //$(".orderDetails").hide();
                        $(".toggle-button1").hide();
                            $(".toggle-button2").hide();

        }
    function orderDetails() {
                            document.getElementById("selectedAddress").innerHTML = addressDiv
            console.log(address)
                        var value = $("#flexCheckDefault").val()
                        console.log(value)
        $('#addNewAddress').hide();
        $("#submit_prog").hide();
                        $('.addressInput').hide();
                        $(".order").show();
                        $("#realDiv").hide();
                            $(".toggle-button1").hide();

                        apply()

                        }
                        function orderDetailsCancel() {

                            $('#addNewAddress').show();
                        $('.addressInput').show();
                        $(".order").show();
                        $("#realDiv").show();
                        // $(".addressDetails").hide();
                        $(".toggle-button1").show();
                        $(".order").hide();
                        console.log("_______")
                        console.log(previousDiv)
                            document.getElementById("selectedAddress").innerHTML = "";
                            $("#submit_prog").show();
                        apply()
        }
                        function paymentCancel() {
                            $(".payment").hide();
                        $(".cancel2").show();
                        $(".orderDetails").show();
                        $(".toggle-button1").show();
                        $(".toggle-button2").show();
        }
                        $("input[name = 'addressId']").change(function () {
                            $(".toggle-button1").toggle();
        })
                        $("input[name = 'paymentModeId']").change(function () {
                            $(".submit").toggle();
        })

                        function address(){
                            $(".order").hide();
                        $(".addressDetails").show();
        }


                        function price() {

            var data = document.getElementById("quantitytag").value
                        document.getElementById("priceField").innerHTML(data);

            }
    function displaySubmit() {
        $("#order-submit").toggle()
        }

                        function apply() {
           
                        $(".check").on('click', function () {
                
                        var $box = $(this);
                        if ($box.is(":checked")) {
                            //alert("checked")

                    var group = "input:checkbox[class='" + $box.attr("class") + "']";
                        $(group).prop("checked", false);
                        $box.prop("checked", true);
                        addressDiv = $("." + $box[0].id)[0].innerHTML + "</div>"
                    //console.log($box)
                    //console.log($(group).length)

                    //console.log($("#" + $box[0].id)[0].innerHTML)
                    for (let step = 0; step <= $(group).length; step++) {
                        //console.log($(group)[step].id)
                        //console.log($box[0].id)
                    if ($(group)[step].id == $box[0].id) {
                        //console.log("equals")

                            //console.log($("#" + $box[0].id))
                        }
                    //console.log("''''")
                    }
                } else {
                       // alert("not checked")
                    $box.prop("checked", false);
                    //console.log($box)
                }
            });
        }
                    $(document).ready(function () {
                        $('input[class="check"]').change(function () {
                            var submitBtn = $('#submit_prog');
                            if ($('input[class="check"]:checked').length > 0) {
                                submitBtn.show();
                            } else {
                                submitBtn.hide();
                            }
                        });
                        $(".check").on('click', function () {
                           
                            var $box = $(this);
                            if ($box.is(":checked"))
                            {
                                //alert("checked")
                                //console.log("enter")

                                var group = "input:checkbox[class='" + $box.attr("class") + "']";
                                $(group).prop("checked", false);
                                $box.prop("checked", true);
                                addressDiv = $("." + $box[0].id)[0].innerHTML + "</div>"

                            }
                            else
                            {
                                //alert("not checked")
                                $box.prop("checked", false);
                                //console.log($box)
                            }
                        });
                    })
                    function showbutton1()
                    {
                        //alert("cheuijhg")
                        console.log($('.check:checkbox'))
                        console.log($('.check:checkbox').length)
                        for (var i = 0; i < $('.check:checkbox').length; i++) {
                            if ($('.check:checkbox')[i].checked)
                            {
                                $("#submit_prog").show();
                                break;
                            }
                            else
                            {
                                $("#submit_prog").hide();
                            }
                        }
                    }
</script>
<style>
    ._78xt5Y {
        position: -webkit-sticky;
        position: sticky;
        top: 64px;
        bottom: 0;
        z-index: 2;
        -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
        align-self: flex-start;
    }
</style>