@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@


@{
    ViewData["Title"] = "Mobizone- Contact Us";
    Layout = "~/Views/Simpleview/_BasicLayoutcshtml.cshtml";
}



@model DomainLayer.AdminContact
<section class=" flex-fill" style="margin-left: 0px;">
    <div class=" text-center">

        @* <h1>Contact Us</h1>
        <br />
        <br />
        <div class="text-center">
            <div class=" " container>
                <div class=" contact us"></div>
                <div class="box"></div>
                <div class="icon"></div>
                <div class=" text">
                    <h3 class=" " style="margin-top:-2%;margin-left:-30%">Address</h3>
                    <p class=" " style="margin-top:-3%;">@Model.shopName<br>@Model.address, @Model.district <br>@Model.pincode,  @Model.state <br>@Model.country  </p>
                </div>
                <div class="box"></div>
                <div class="icon"></div>
                <div class=" text">
                    <h3 class="" style="margin-left:-32%">Email</h3>
                    <p class=" " style="margin-top:-2%"> @Model.email</p>
                </div>
            </div>
            <div class="box"></div>
            <div class="icon"></div>
            <div class=" text">
                <h3 class="" style="margin-left: -32%; margin-top: 2%;">Phone</h3>
                <p class="" style="margin-top:-2%">@Model.phoneNumber</p>
            </div>
        </div>
        *@ <div class="container-fluid mt-3 align-middle">
    <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="margin-left: 19%; margin-right: 25%;">
        <div class="card-body">
            <section class=" flex-fill" style="margin-left: 0px;">
                <div class=" text-center">
                    <h1>Contact Us</h1>
                    <div class=" contact us" style="margin-left: 26%;">
                        <div class="text-center">
                            <div class=" " container style="margin-left: 20%; padding-top: 3%; }">
                                <div class="row mt-3">
                                    <div class="col-8" style="font-weight: 640;">
                                        <div class="row">
                                            <p class="card-text col-3 row "><b>Address</b></p>
                                            <p class="col-6 row">@Model.shopName</p>
                                        </div>
                                        <div class="row">
                                            <p class="card-text col-3 row "></p>
                                            <p class="col-6 row">@Model.pincode,@Model.district</p>
                                        </div>
                                        <div class="row">
                                            <p class="card-text col-3 row "></p>
                                            <p class="col-6 row">@Model.state ,@Model.country</p>
                                        </div>

                                        <div class="row">
                                            <p class="card-text col-3 row "><b>Email</b></p>
                                            <p class="col-6 row"> @Model.email</p>
                                        </div>
                                        <div class="row">
                                            <p class="card-text col-3 row "><b>Phone</b></p>
                                            <p class="col-6 row">@Model.phoneNumber</p>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </section>
