@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@



@model DomainLayer.AdminContact
    <section class=" flex-fill" style="margin-left: 0px;">
        <div class=" text-center">

            <h1>Contact Us</h1>
            <br />
            <br />
            <div class="text-center">
                <div class=" " container>
                    <div class=" contact us"></div>
                    <div class="box"></div>
                    <div class="icon"></div>
                    <div class=" text">
                        <h3>Address</h3>
                        <p>@Model.shopName<br>@Model.address<br> @Model.district <br> Pin:@Model.pincode <br>  @Model.state <br>@Model.country  </p>
                    </div>
                    <div class="box"></div>
                    <div class="icon"></div>
                    <div class=" text">
                        <h3>Email</h3>
                        <p> @Model.email</p>
                    </div>
                </div>
                <div class="box"></div>
                <div class="icon"></div>
                <div class=" text">
                    <h3>Phone</h3>
                    <p>@Model.phoneNumber</p>
                </div>
            </div>
           
        </div>

    </section>