@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int count = (int)ViewBag.count;
    int pagination = 1;
}
@if (User.Identity.IsAuthenticated!)
{

   @* <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>*@
}
@model IEnumerable<DomainLayer.ProductModel.ProductEntity>
@if (Model == null || Model.Count().Equals(0))
{

    <img src="/css/Images/no product.png" style="align-items: center; margin-left: 27%; width:30%" />


}
else
{
    <div class="row" style="justify-content: center;">
        @foreach (var item in Model)
        {
            <div class="card shadow-lg  bg-white rounded mr-4 mt-4 col-3"style="height: 22rem;">
                <div class="card-body">

                    <div class="col-12">
                        <h4 class="card-title" style=" text-align: center;">@item.name</h4>
                        @if (item.images == null || item.images.Count == 0)
                        {
                            <div class="col-3" align="center"><img src="~/css/Images/noimage.jpg"  style="align-items:center;  height: 59%; width: 47%;"></div>
                        }
                        else
                        {
                            @foreach (var data in item.images)
                            {
                                <a asp-action="ProductDetails" asp-route-id="@item.id"><div class="col-12" align="center"><img src="~/Product/Images/@data.imagePath" style="align-items: center; height: 59%; width: 47%;"></div></a>
                                break;
                            }
                        }



                        <div class="col-12">

                            <h5 class="m-2"> Price : <span style="color: black; font-family: fantasy; font-size: larger;">  &#8377 @item.price</span></h5>

                            <div class="row">
                                <div class="col-5 buynow"><a asp-action="order" asp-route-id="@item.id"><button class="btn btn-orange" style="padding: 14px;">Buy Now</button></a></div>
                                <div class="col-7 buynow"><a asp-action="AddtoCart" asp-route-id="@item.id"><button class="btn btn-indigo" style="padding: 14px;">Add to Cart</button></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

}

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">

        @for (int i = 0; i <= count; i++)
        {
            <li class="page-item"><a class="page-link" href="/user/index/@i">@pagination</a></li>

            pagination = pagination + 1;
        }

    </ul>
</nav>
<style>
    .row {
        margin-left: 0 !important;
    }

    .btn-indigo {
        background: #e52d2e;
    }

    .btn-orange {
        background: #0099f3;
    }
</style>