@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var user = ViewData["userData"] as DomainLayer.Users.UserRegistration;
    Layout = "~/Views/Simpleview/_accountLayout.cshtml";
    ViewData["Title"] = "Manage Address";
}
@model DomainLayer.Users.Address

<div class="col-md-9">
    <div class="tab-content" style="margin-right:10%;padding-top:10%;padding-bottom:-15%">
        <div class="tab-pane fade active show" id="account-general">

            <div class="card-body media align-items-center">

            </div>

            <div class="card-body">
                <div class="form-group">
                   <a asp-action="address"><button class="btn btn-default"  asp-controller="user" > + Add New Address</button></a>
                </div>
                @foreach (var data in user.address)
                {
            <div class="form-group">
                <p style="margin-left:41%"> @data.name</p>
                <p style="margin-left:41%"> @data.address</p>
                <p style="margin-left:41%">@data.pincode,@data.district</p>
                <p style="margin-left:41%"> @data.state,@data.country </p>
                <p style="margin-left:41%">@data.phoneNumber</p>

                <div class="Edit" style="">
                    <a asp-action="address" asp-route-id="@data.id"> <button type="button" class="btn btn-orange" style="background-color:crimson;margin-top:-25%;">Edit</button></a>
                    <a asp-action="account"> <button type="button" class="btn btn-orange" style="background-color: #29a174;; margin-top: -25%; ">Delete</button></a>
                </div>
            </div>
                   

                }


          
            </div>

        </div>
    </div>

</div>
<style>
    .form-group{
       
    }
    .Edit{
        margin-left:72%;
    }
    .btn-default {
        background-color: #29a174;
        margin-top:-5%;
        margin-left:40%;
    }
</style>
