@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var user = ViewData["userData"] as DomainLayer.Users.UserRegistration;
    Layout = "~/Views/Simpleview/_accountLayout.cshtml";
    ViewData["Title"] = "Mobizone- Manage Address";
    var returnUrl = ViewBag.ReturnUrl as string;
}
@model DomainLayer.Users.Address

<div class="col-md-9" style="margin-top:10%;">
    <div class="tab-content" style="">
        <div class="tab-pane fade active show" id="account-general">

          

            <div class="card-body">
                <div class="form-group"    style=" margin-bottom: -20%;">
                   <a href="/user/address?ReturnUrl=@returnUrl" class="btn btn-default" > + Add New Address</a>
                </div>
                @foreach (var data in user.address)
                {
            <div class="form-group" style="margin-top:5%;">
                <p style="margin-left:41%"> @data.name</p>
                <p style="margin-left:41%"> @data.address</p>
                <p style="margin-left:41%">@data.pincode,@data.district</p>
                <p style="margin-left:41%"> @data.state,@data.country </p>
                <p style="margin-left:41%">@data.phoneNumber</p>

                <div class="Edit" style="">
                    <a asp-action="address" asp-route-id="@data.id" type="button" class="btn btn-orange" style="background-color: #e52d2e;">Edit</a>
                    <a href="/user/DeleteAddress/@data.id"  type="button" class="btn btn-indigo address-btn">Delete</a>
                </div>
            </div>
                   

                }


          
            </div>

        </div>
    </div>

</div>
<style>
    .form-group {
        margin-top: 7%;
    }
    .Edit{
   margin-left:82%;
   margin-top:-5%;
    }
    .btn-default {
        background-color: #0099f3;
        margin-top: -20%;
        margin-left: 40%;
    }
    .btn-orange {
        background-color: #0099f3;
    }
    .btn-indigo {

        background-color: #e52d2e;
    }
    .address-btn {
        margin-top: -18%;
        background-color: #0099f3;
        margin-left: 65%;
    }
</style>
