@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var user = ViewData["userData"] as DomainLayer.Users.UserRegistration;
    ViewData["Title"] = "Mobizone- My Profile";
}



<div class="col-md-9">
    <div class="tab-content">
        <div class="tab-pane fade active show" id="account-general">

            <div class="card-body media align-items-center">

            </div>
            <hr class="border-light m-0">

            <div class="card-body">
                <div class="form-group">
                    <label class="form-label">Username : @user.Email</label>

                </div>
                <div class="form-group">
                    <label class="form-label">Name : @user.FirstName</label>

                </div>
                @if (user.address == null)
                {
                    <p>No Address available</p>
                }
                else
                {
                  <div class="form-group">
                        <label class="form-label">Address:</label>
                        <div class="row">
                            @foreach (var data in user.address)
                            {

                                <div class="col">
                                   <div class="card dark-style">
                                        <p>@data.name</p>
                                        <p>@data.address</p>
                                        <p>@data.district</p>
                                        <p>@data.country</p>
                                   </div>

                                </div>



                            }
                        </div>

                  </div>
                }


            </div>
            <div class="text-right mt-3">
                <button type="button" class="btn btn-primary">Edit</button>&nbsp;
                <button type="button" class="btn btn-primary">Return To Store</button>
               
            </div>
        </div>

</div>
    </div>
