@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<DomainLayer.Checkout>
@{
    Layout = "~/Views/Simpleview/_BasicLayoutcshtml.cshtml";
    ViewData["Title"] = "Mobizone- My Orders";
}
<h3 style="text-align:center">My Orders</h3>

<div class="">
   @* <table id="datatable" class="table table-bordered table-hover table-sm" style="width:100%">*@


        <div class="product">Product</div>
        <div class="price">Price</div>
        <div class="status">Status</div>

        @foreach (var data in Model)
        {
<div class=" text-md-center" style=" margin-top: 3%;">
    @if (data.product.images == null || data.product.images.Count == 0)
    {
        <div class="col-3" align="center"><a asp-action="OrderDetails" asp-route-id="@data.id"><img src="~/css/Images/noimage.jpg" style="align-items:center;  height: 100%; width: 100%;"></a></div>
    }
    else
    {
        @foreach (var Imagedata in data.product.images)
        {
<a asp-action="OrderDetails" asp-route-id="@data.id"><img src="/Product/Images/@data.product.images.FirstOrDefault().imagePath" alt=" Images" style="height:70px;margin-right:90%; width:29px;" /></a>
            break;
        }
    }
    
</div>



            <h5 style=" font-size: 120%; margin-top: -5%; margin-left: 9%; } ">@data.product.name @data.product.model (@data.product.specs.rams.FirstOrDefault().ram)</h5>
            <div style=" margin-left: 9%;">
                <h5>Quantity : @data.quantity</h5>

            </div>


            <div>
                <h3 style=" margin-left: 48%; font-size: 120%; margin-top: -2%;">  &#8377 @data.price</h3>
            </div>

            <div style="margin-left: 85%; margin-top: -2%;">
                <h5> @data.status</h5>
            </div>
        }
    </table>
</div>

<a type="button" class="btn  btn-orange" style="background-color: #078ceb; padding-left: 1%; padding-right: 1%; color: white; margin-left: 81%; margin-top: 13%; " asp-action="index">Back</a>&nbsp;


<style>
    .product {
        margin-left: 8%;
        font-size: 150%;
    }

    .price {
        margin-top: -34px;
        margin-left: 48%;
        font-size: 150%;
    }

    .status {
        margin-left: 85%;
        margin-top: -35px;
        font-size: 150%;
    }
</style>
