@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mobizone- Buy Now";
}
@model DomainLayer.Checkout
@{
    var data = ViewData["ProductDetails"] as DomainLayer.ProductModel.ProductEntity;
    var user = ViewData["userData"] as DomainLayer.Users.UserRegistration;
    var values = Enum.GetValues(typeof(DomainLayer.PaymentModes));
    Layout = "~/Views/Simpleview/_BasicLayoutcshtml.cshtml";

}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
@if (user == null)
{
    <h5>Not A User</h5>
    <a asp-action="login"><button class="btn btn-primary">Click To Login</button></a>
}
else
{ }
    <div class="container-fluid mt-3">

        <div class="row" style="margin-right: 6%;margin-left: 7%;">
            <form asp-action="order" method="post" class="col" id="my-form">
                <input asp-for="id" value="0" type="hidden" />
                <input asp-for="productId" type="hidden" value="@data.id" />
                <input asp-for="userId" type="hidden" value="@user.UserId" />
                <div>
                    
                    <div class="card ">
                        <div class="">
                            <div class="address" ><p class="card-title">Delivery Address</p></div>
                            
                            @if (user.address == null)
                            {
                                <p>No address available please create one </p>
                            }
                            else
                            {
                                <div class="addressDetails">
                                @foreach (var address in @user.address)
                                {
                                    <div class="form-check ">
                                        <input class="form-check-input" name="addressId" type="checkbox" value="@address.id" id="flexCheckDefault" onchange="showbutton1()" />
                                        <label class="form-check-label" for="flexCheckDefault">
                                            @address.name <br> @address.address<br> @address.district
                                        </label>
                                    </div>
                                    <hr />
                                }
                                </div>
                            }


                            <div class="row"> 
                                <div class="col"><a asp-action="address" class="btn btn-orange" style=" color: white">Add New Address</a></div>
                                                   <div class="col col d-flex justify-content-end " id="addressContinue ">
                                <a style="display: none; background-color: #e52d2e;" href="#" class="btn btn-orange toggle-button1 " onclick="orderDetails()">continue</a></div>

                            </div>
                        </div>
                    </div>
                    <div class="card order mt-3" style="display:none">
                        <div class="">
                            
                            <h5 class="card-title address">Order Summary</h5>
                            
                            <div class="orderDetails">
                                <div class="form-check">
                                    <div class="">
                                        <div class="col-12">
                                            @if (data.images == null || data.images.Count == 0)
                                            {
                                                <div class="col-3" align="center"><a asp-action="ProductDetails" asp-route-id="@data.id"><img src="~/css/Images/noimage.jpg" style="width: 10%;"></a></div>
                                            }
                                            else
                                            {
                                                @foreach (var item in data.images)
                                                {
                                                    <a asp-action="ProductDetails" asp-route-id="@data.id"><div class="col-12" align="center"><img src="~/Product/Images/@item.imagePath" style="width: 10%;"></div></a>
                                                    break;
                                                }
                                            }
                                            
                                            <label class="form-check-label" for="flexCheckDefault" style="font-weight: bold;">
                                                @data.name (@data.specs.rams.FirstOrDefault().ram GB , @data.specs.storages.FirstOrDefault().storage GB)<br>&#8377 @data.price
                                                <div>Qty:<input name="quantity" asp-for="quantity" type="number" style="width:50px; height:20px;" value="1" id="quantitytag" /></div>
                                            </label>
                                        </div>
                                        
                                     </div>


                                   
                                

                                 </div>
                            </div>
                            



                            <div class="row">
                               
                                <div class="col col d-flex justify-content-end " style="display:none"><a href="#" class="btn btn-orange toggle-button2" style="background-color: #e52d2e;" onclick="paymentDetails()">continue</a></div>
                            </div>

                        </div>
                    </div>

                    <div class="card payment mt-3" style="display:none">
                        <div class="">
                            <h5 class="card-title address">Payment</h5>
                            @foreach (var item in values)
                            {

                                <div class="form-check">
                                    <input class="form-check-input" name="paymentModeId" type="checkbox" value='@Convert.ToInt32(item)'>
                                    <label class="form-check-label" for="flexCheckDefault">
                                        @item
                                    </label>
                                </div>
                            }
                            <p class="card-text"></p>
                            <div class="row">
                                <div class="col"><a asp-action="index" class="btn btn-orange">Cancel</a></div>
                                <div class="col"></div>
                                <div class="col col d-flex justify-content-end "><input type="submit" value="Confirm Order" class="btn btn-orange submit" style="background-color: #e52d2e;"  onchange="displaySubmit()" style="display:none;"/></div>
                            </div>


                        </div>
                    </div>


                </div>
            </form>

                <div class="col-6">
                    <div class="card" style="margin-left: 19%;margin-right: -38%;">

                        <div class="Price">
                            <h5 class="card-title" style="">Price Details</h5>
                           
                        </div>
                        <div>
                            <p class="card-text" id="priceField">Price </p>
                            <div class="card-text"> <div class="row"><p class="col-6">Shipping Charge <p class="col-6" style="color: green;">  Free</p>  </div></div>
                            <div id="price"></div>
                        </div>
                        
                        <div class="">
                            <p class="card-text" id="totalPrice">Total Payable</p>
                            <div id="price"></div>
                        </div>




                    </div>
                </div>
                <!-- Card with center text alignment -->
                
            
        </div>
    </div>

    <script>
        
        var sourcearray = JSON.parse('@Html.Raw(Json.Serialize(data))');
        function changePrice(data) {
            alert(sourcearray.price)
            var qty = $("input[name='quantity']").val()
            console.log(qty);
            document.getElementById("priceField").innerHTML = '<p>' + sourcearray.price * qty + '</p>';
        }
        $(document).ready(function () {
            document.getElementById("priceField").innerHTML = '<div class="row"><p class="col-6"> Price <p class="col-6">  ₹' + sourcearray.price + ' </p>';
            document.getElementById("totalPrice").innerHTML = '<div class="row"><p class="col-6" style="font-weight: bold;"> Amount Payable</p><p class="col-6" style="font-weight: bold;">  ₹' + sourcearray.price + ' </p>';
        })
        
        $("input[name = 'quantity']").change(function () {
            var data = document.getElementById("pricetag").value




            document.getElementById("priceField").innerHTML = '<div class="row"><p class="col-6">Price <p class="col-6">  ₹' + sourcearray.price * data + '</p>';

            document.getElementById("totalPrice").innerHTML = '<div class="row"><p class="col-6"style="font-weight: bold;"> Amount Payable</p><p class="col-6" style="font-weight: bold;">  ₹' + sourcearray.price * data + '</p>';

            if(data>0){
                $(".toggle-button2").show();
            }
        });
        
        console.log(sourcearray)
        function paymentDetails() {
            $(".payment").show();
            $(".cancel2").hide();
            $(".orderDetails").hide();
            $(".toggle-button1").hide();
            $(".toggle-button2").hide();
        }
        function orderDetails() {
            $(".order").show();
            $(".addressDetails").hide();
            $(".toggle-button1").hide();
            //$(document).ready(function () {
           // document.getElementById("addressContinue").innerHtml = '';
           //document.getElementById("addressContinue").innerHtml = '<button onclick='"'address()'"'>Change</button>';
            //});
        }
        $("input[name = 'addressId']").change(function () {
            $(".toggle-button1").toggle();
        })
        $("input[name = 'paymentModeId']").change(function () {
            $(".submit").toggle();
        })
       
        function address(){
            $(".order").hide();
            $(".addressDetails").show();
        }

        $('#my-form').on('change keyup paste', ':input', function (e) {
            // The form has been changed. Your code here.
        });

        function price() {

            var data = document.getElementById("quantitytag").value
                document.getElementById("priceField").innerHTML(data);

            }
        function displaySubmit() {
            $(".submit").toggle();
        }

    </script>
    <style>
        .submit{
            display:none;
        }
        .address {
            background-color: #e52d2e;
            padding: 5px;
            font-variant: all-small-caps;
            font-size: 22px;
            padding-left: 16px;
            color: aliceblue;
        }
        .form-check {
            position: relative;
            display: block;
            padding-left: 1.25rem;
            margin: 16px;
        }
        input[type=checkbox], input[type=radio] {
            box-sizing: border-box;
            padding: 0;
            margin: 6px;
        }
        .form-check-label {
            margin-bottom: 0;
            margin-left: 32px;
        }
        .row {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: 0;
            margin: 11px;
        }
        .footer {
            margin-top: 333px !important;
        }
        .btn-orange {
            background: #3d8be3;
        }
        
        .submit {
            background-color: #3d8be3;
        }
        .Price {
            background: #e52d2e;
            color: white;
            font-variant: all-small-caps;
            padding: 8px;
        }
        
    </style>



