@model DomainLayer.ProductModel.ProductEntity

@{
    Layout = "~/Views/Simpleview/_UserLayout.cshtml";
    var data = ViewData["images"] as IEnumerable<DomainLayer.ProductModel.Images>;
    var data1 = ViewData["images"] as IEnumerable<DomainLayer.ProductModel.Images>;
    ViewData["Title"] = "Details Page";
}


<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<div class="row">
    <div class="sticky col-4 row card">
        <div class="col-3">
            <table class="table ">
                @if (Model.images == null)
                {
                    <h1>No images</h1>
                }
                else
                {
                    foreach (var item in Model.images)
                    {
                        <div class="card" style="width : 50px; height:100px;">
                            <img src="~/Product/Images/@item.imagePath" width="50" height="100" onclick="showImage('@item.imagePath');" />


                        </div>

                    }
                }

            </table>
        </div>
        <div class="col-9 row" style="justify-content: center;">
            @if (Model.images != null && Model.images.Any())
            {

                <img class="showimage col-9" src="~/Product/Images/@Model.images.FirstOrDefault().imagePath" />
                

            }
            else
            {
                <p>No Image</p>
            }

        </div>
        <div class="row  mt-3">
                    <div class="col "><a asp-action="checkout" asp-route-id="@Model.id"><button class="btn btn-orange buynow">Buy Now</button></a></div>
                    <div class="col"><a asp-action="cartpage" asp-route-id="@Model.id"><button class="btn btn-indigo buynow" style="font-size: 9px;">Add to Cart</button></a></div>
        </div>
    </div>
    <div class="col-8" style="position: relative;margin-left: 518px;">
        <div class="col-7 pb-3">
            <h2 class="card-title " style="font-size: 21px;">@Model.name ( Storage @Model.specs.storages.FirstOrDefault().storage) Ram(@Model.specs.rams.FirstOrDefault().ram)</h2>
            <h3 class="card-subtitle" style="padding-left: 14px;font-weight: 600;"> &#8377 @Model.price </h3>
            <h4>Model:@Model.model</h4>
      
                <div class="col-12 row mt-3">
                    <div class="col-3" style="color: darkgray;font-weight: 600;">Highlights</div>
                    <table class="col-9 ">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                       
                       @* <tr>
                            <td>Processor</td>
                            <td>
                                @foreach (var item in Model.specs.processor.ToList())
                                {<span>@Model.specs.processor</span>}
                            </td>
                        </tr>*@
                        <tr>
                            <td class="class" >Ram</td>
                            <td class="class">
                                @foreach (var item in Model.specs.rams.ToList())
                                {<span>@item.ram </span>}
                            </td>
                        </tr>
                        <tr>
                            <td class="class">Storages </td>
                            <td class="class">
                                @foreach (var item in Model.specs.storages.ToList())
                                {<span>@item.storage </span>}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-12 row mt-3">
                    <div class="col-3" style="color: darkgray;font-weight: 600;">Specification</div>
                    <table class="col-9">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="td">Brand </td>
                                <td class="td"><li>@Model.productBrand</li></td>
                            </tr>
                            <tr>
                                <td class="td">Model </td>
                                <td class="td"><li>@Model.model</li></td>
                            </tr>
                            <tr>
                                <td class="td">Quatity </td>
                                <td class="td"><li>@Model.quantity</li></td>
                            </tr>
                            <tr>
                                <td class="td">Os</td>
                                <td class="td"><li> @Model.specs.os</li></td>
                            </tr>
                            <tr>
                                <td class="td">Processor </td>
                                <td class="td">@Model.specs.processor</td>
                            </tr>
                            <tr>
                                <td class="td">Processor Core </td>
                                <td class="td"><li>@Model.specs.core</li></td>
                            </tr>
                            <tr>
                                <td class="td">Ram</td>
                                <td class="td">
                                    @foreach (var item in Model.specs.rams.ToList())
                                    {<span>@item.ram </span>}
                                </td>
                            </tr>
                            <tr>
                                <td class="td">Storages </td>
                                <td class="td">
                                @foreach (var item in Model.specs.storages.ToList())
                        {<span >@item.storage </span>}
                            </td>

                            </tr>
                            <tr>
                                <td class="td">SimType</td>
                                <td class="td"><li> @Model.specs.simType</li></td>
                            </tr>
                            <tr>
                                <td class="td">Camera</td>
                                <td class="td"<li> @Model.specs.camFeatures</li></td>
                            </tr>
                        </tbody>
                    </table>


                    <div class="col-12">
                        <p style="color: darkgray; font-weight: 600;">Description</p>
                        <p><li>@Model.description</li></p>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-light"><a asp-controller="User" asp-action="index" style="text-decoration:none; margin-left: 100%;" color:indianred"><b>Back</b></a></button>
                </div>

            </div>
    </div>
    </div>
</div>



<style>
    div.sticky {
        position: -webkit-sticky;
        position: fixed;
        height: 587px;
        margin-top: 96px;
        top: 0;

        padding: 9px;
        font-size: 20px;
    }
    div.content {
        margin-left: 84px;
        padding: 1px 16px;
        height: 100%;
    }

    .td{
        margin-top:-10px;
        padding-top:20px;
    }
    .class {
        padding-top: 20px;
        padding-right: -20px;
        margin-left: 5px;
    }
    li {
        text-decoration: none;
        list-style-type: disc;
    }

</style>


