@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model DomainLayer.ProductModel.ProductEntity

@{
    Layout = "~/Views/Simpleview/_UserLogin.cshtml";
    var data = ViewData["images"] as IEnumerable<DomainLayer.ProductModel.Images>;
    var data1 = ViewData["images"] as IEnumerable<DomainLayer.ProductModel.Images>;
}


<div class="row container-fluid pr-6">
    <div class="container-fluid mt-3 align-middle">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card-body">
                <div class="row">
                    <div class="col-1">
                        <table class="table ">
                            @if (Model.images == null)
                            {
                                <h1>No images</h1>
}
                            else
                            {
                                foreach (var item in Model.images)
                                {
                                    <div class="card" style="width : 50px; height:100px;">
                                        <img src="~/Product/Images/@item.imagePath" width="50" height="100" onclick="showImage('@item.imagePath');" />

                                    </div>

                                }
                            }

                        </table>
                    </div>
                    <div class="col-4">
                        @if (Model.images != null && Model.images.Any())
                        {

                            <img class="showimage" src="~/Product/Images/@Model.images.FirstOrDefault().imagePath" width=250 height=500 />
                            <div class="row mt-3" >
                                <div class="col buynow"><a asp-action="checkout" asp-route-id="@Model.id"><button class="btn btn-orange">Buy Now</button></a></div>
                                <div class="col"><a asp-action="cartpage" asp-route-id="@Model.id"><button class="btn btn-indigo" style="font-size: 9px;">Add to Cart</button></a></div>
                            </div>

                        }
                        else
                        {
                            <p>No Image</p>
                        }
                    </div>


                    <div class="col-6 pb-3">
                        <h2 class="card-title ">@Model.name</h2>
                        <h3 class="card-subtitle"> @Model.price &#8377</h3>
                        <h4>Model:@Model.model</h4>
                        <div class="row mt-3">

                            <div class="col-6">
                                <p class="card-text ">Brand : @Model.productBrand</p>
                                <p class="card-text ">Model : @Model.model</p>
                                <p class="card-text ">Quatity : @Model.quantity</p>
                                <p class="card-text "> Operating System : @Model.specs.os</p>
                                <p class="card-text "> Processor : @Model.specs.processor</p>
                                <p class="card-text ">Processor Core : @Model.specs.core</p>
                                <p class="card-text ">
                                    Ram : @foreach (var item in Model.specs.rams.ToList())
                                    {<span style="border-block: outset;">@item.ram </span>}
                                </p>
                                <p class="card-text ">
                                    Storage :@foreach (var item in Model.specs.storages.ToList())
                                    {<span style="border-block: outset;">@item.storage </span>}
                                </p>
                                <p class="card-text ">SimType : @Model.specs.simType</p>
                                <p class="card-text ">Camera : @Model.specs.camFeatures</p>
                            </div>
                            <div class="col-6">
                                
                            </div>
                            <div class="col-12">
                               
                            </div>
                            <div class="col-12">
                                <p>Description</p>
                                <p>@Model.description</p>
                            </div>
                        </div>

                    </div>
                </div>


                <button class="btn btn-light"><a asp-controller="user" asp-action="Index" style="text-decoration:none;"><b>Back</b></a></button>

                
            </div>
        </div>
    </div>
</div>
</div>

<script>
    function showImage(data){

        $(".showimage").attr('src','/Product/Images/'+data);
    }
</script>
<style>
    p {
        display: block;
    }
</style>