
@model DomainLayer.ProductModel.ProductEntity
@{
    Layout = "~/Views/Simpleview/_BasicLayoutcshtml.cshtml";
    var data = ViewData["images"] as IEnumerable<DomainLayer.ProductModel.Images>;
    var data1 = ViewData["images"] as IEnumerable<DomainLayer.ProductModel.Images>;
    var returnUrl = ViewBag.ReturnUrl as string;
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">


<div class="sticky" width="50%" style="float: left; height: 79vh;  margin: 2%; width:28%; ">
    <p width="50%">
        <div class="row">
            <div class="col-2">
                @{if (Model.images == null)
                    {
                        <h1>No iamges</h1>
                    }
                    else
                    {
                        foreach (var item in Model.images)
                        {
                            <div class="card" style="width : 50px; height:100px;">
                                <img src="@item.imagePath" style="width: 48px; padding:6px;" onclick="showImage('@item.imagePath');" />

                            </div>
                        }

                    }}
            </div>
            <div class="col-10 row">
                <div class="col-12">
                    @{if (Model.images != null && Model.images.Any())
                        {

                            <img class="showimage" src="@Model.images.FirstOrDefault().imagePath" alt="No images available" />

                        }
                        else
                        {
                            <p>No Image</p>
                        }}
                </div>

            </div>
            <div class="row col-12" style="padding:10px;">
                <div class="col-6 "><a asp-action="order" asp-route-id="@Model.id" class="btn btn-orange buynow" style=" font-size: 10px; color: white;  width: 100%; background-color: #0099f3; " >Buy Now</a></div>
                <div class="col-6 "><a asp-action="AddtoCart" asp-route-id="@Model.id" class="btn btn-orange buynow; " style="color: white; font-size: 10px; background-color: #e52d2e; letter-spacing: .1rem; width: 100%; ">Add to Cart</a></div>

            </div>
        </div>
    </p>
</div>
<div class="row col-6">
    <div class="col-12 name">
        @Model.name ( Ram( @if (Model.specs.rams != null && Model.specs.rams.Count() > 0)
        {@Model.specs.rams.FirstOrDefault().ram}  ) , Storage(@if (Model.specs.storages != null && Model.specs.storages.Count() > 0)
        {@Model.specs.storages.FirstOrDefault().storage}))
    </div>
    <div class="col-12 price">Price : &#8377 @Model.price</div>
    
    <table class="specTable">
        <tr>
            <td>
                Highlights
            </td>
            <td>
                <ul class="row">
                    <li class="col-12">Operation System : @Model.specs.os</li>
                    <li class="col-12">Processor : @Model.specs.processor</li>
                    <li class="col-12">Cores : @Model.specs.core</li>
                    <li class="col-12">
                        Ram :
                        @foreach (var item in Model.specs.rams.ToList())
                        {<span style="padding-right:14px; border-block: outset;">@item.ram </span>}
                    </li>
                    <li class="col-12">
                        Storage :
                        @foreach (var item in Model.specs.storages.ToList())
                        {<span style="padding-right: 14px; border-block: outset;">@item.storage </span>}
                    </li>
                    <li class="col-12">Sim Type : @Model.specs.simType</li>
                    <li class="col-12">Rear Camera : @Model.specs.camFeatures</li>
                    <li class="col-12">Quantity : @Model.quantity</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                Description
            </td>
            <td>
                <ul>
                    @if (Model.description != null)
                    {
                        <li>
                            @Model.description
                        </li>
                    }
                </ul>
            </td>
        </tr>
    </table>
</div>

<style>
    

    .disableBtn {
        text-align: center;
        margin: 5%;
        background: antiquewhite;
        padding: 11px;
    }

    .specTable {
        width: 100%;
        margin-top: 3%;
        font-size: 18px;
    }

    .name {
        font-weight: bold;
        margin: 19px;
        font-size: 35px;
    }

    .price {
        font-weight: bold;
        font-size: 28px;
    }

    .quantity {
        font-weight: bold;
        font-size: 22px;
    }
</style>
<script>

    function showImage(data) {

        $(".showimage").attr('src', data);
    }
    function someFunction(data) {
        var id = data;
        $(document).ready(function (e) {
            $.ajax({
                url: '/admin/ProductDetails/AddImage/' + id,
                type: 'get',
                success: function (response) {
                    $("#partialModal").find(".modal-body").html(response);
                    $("#partialModal").modal('show');
                },
                failure: function (response) {
                    alert("fail");
                },
                error: function (response) {
                    console.log(response);
                }
            })

        });
    }



</script>
<style>
    .col-6 {
        padding-left: 36px;
    }

    p {
        display: block;
    }
</style>

<script>
    function deleteImage(data) {
        var id = data;
        $.ajax({
            url: 'DeleteImage/' + id,
            type: 'get',
            success: function (response) {
                $("#partialModal").find(".modal-body").html(response);
                $("#partialModal").modal('show');
            },
            failure: function (response) {
                alert("fail");
            },
            error: function (response) {
                console.log(response);
            }
        })

    }


    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>
