@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ 
    ViewData["Title"] = "Admin- Contact Us";
}
@model DomainLayer.AdminContact
    <div class="container-fluid mt-3 align-middle">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card-body">
                <div class="">
                    <section class=" flex-fill" style="margin-left: 0px;">
                        <div class=" text-center">

                            <h1>Contact Us</h1>
                            <div class="text-center">
                                <div class=" " container>
                                    <div class=" contact us"></div>
                                    <div class="box"></div>
                                    <div class="icon"></div>
                                    <div class=" text">
                                        <h3>Address</h3>
                                        <p>@Model.shopName<br>@Model.district <br> @Model.state <br>Pin:@Model.pincode</p>
                                    </div>
                                    <div class="box"></div>
                                    <div class="icon"></div>
                                    <div class=" text">
                                        <h3>Email</h3>
                                        <p> @Model.email</p>
                                    </div>
                                </div>
                                <div class="box"></div>
                                <div class="icon"></div>
                                <div class=" text">
                                    <h3>Phone</h3>
                                    <p>@Model.phoneNumber</p>
                                </div>
                           

                            <div class=" text-center">
                                <div class="form-group">
                                    <a asp-action="ContactEdit"><button class="btn btn-orange">Edit</button></a>
                                    <button class="btn btn-indigo"><a asp-controller="Admin" asp-action="Index" style="text-decoration:none;"><b style="color: white;">Cancel</b></a></button>
                                </div>
                            </div>

                            <style>
                                
                                .container {
                                    width: 100%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    margin-top: 30px;
                                }

                                .flex-fill {
                                    margin-left: -86px;
                                }

                                .btn-indigo {
                                    background: #e52d2e;
                                    color:white;
                                }

                                .btn-orange {
                                    background-color: #3187e3;
                                    color: white;
                                }
                                .container-fluid {
                                    width: 100%;
                                    padding-right: 63px;
                                    padding-left: 96px;
                                    margin-right: auto;
                                    margin-left: -86px;
                                }
                            </style>
                    </section>

                        </div>
                </div>
        </div>
</div>


