@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model DomainLayer.ProductModel.Master.MasterTable;
@{
    ViewData["Title"] = "Mobizone(Admin) MasterData";
    var url = string.Format(
        "MasterList");
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/3.4.0/js/bootstrap-colorpicker.min.js">

</script>
<link  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/3.4.0/css/bootstrap-colorpicker.css"/>
<style>
    div {
        margin-bottom: 0px;
    }

    label {
        display: inline-block;
        width: 150px;
        text-align: right;
    }
    .navbar-brand {
        display: inline-block;
        padding-top: 0.3125rem;
        padding-bottom: 0.3125rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        line-height: inherit;
        white-space: nowrap;
    }
</style>

<div class="container-fluid mt-3 align-middle">
    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card-body">


            <div class="d-flex justify-content-center">
                <form asp-action="MasterData" method="post" class="form-inline">
                    <div class="form-group mb-2">
                        <label>Brand</label>
                    </div>
                    @* <select asp-for="parantId" asp-items="new SelectList(ViewBag.EnumList)"></select>*@
                    <input asp-for="parantId" type="hidden" value=1 />
                    <div class="form-group form-group mx-sm-3 mb-2">
                        <input asp-for="masterData" class="form-control" />
                    </div>

                    <div>
                        <button class="btn btn-primary">Add</button>
                    </div>
                    <div style=" margin-left: 11px;">
                        <a class="btn btn-danger" asp-action="@url" asp-route-id=1>View All</a>
                    </div>

                </form>
            </div>
            <div class="d-flex justify-content-center">
                <form asp-action="MasterData" method="post" class="form-inline">
                    <div class="form-group mb-2">
                        <label>SimType</label>
                    </div>
                    <input asp-for="parantId" type="hidden" value=2 />
                    <div class="form-group form-group mx-sm-3 mb-2">
                        <input asp-for="masterData" class="form-control" />
                    </div>
                    <div>
                        <button class="btn btn-primary">Add</button>
                    </div>
                    <div style=" margin-left: 11px;">
                        <a class="btn btn-danger" asp-action="@url" asp-route-id=2>View All</a>
                    </div>


                </form>
            </div>
            <div class="d-flex justify-content-center">
                <form asp-action="MasterData" method="post" class="form-inline">
                    <div class="form-group mb-2">
                        <label>ProductType</label>
                    </div>
                    <input asp-for="parantId" type="hidden" value=3 />
                    <div class="form-group form-group mx-sm-3 mb-2">
                        <input asp-for="masterData" class="form-control" />
                    </div>
                    <div>
                        <button class="btn btn-primary">Add</button>
                    </div>
                    <div style=" margin-left: 11px;">
                        <a class="btn btn-danger" asp-action="@url" asp-route-id=3>View All</a>
                    </div>

                </form>
            </div>
            <div class="d-flex justify-content-center">
                <form asp-action="MasterData" method="post" class="form-inline">
                    <div class="form-group mb-2">
                        <label>OsProcessor</label>
                    </div>
                    <input asp-for="parantId" type="hidden" value=4 />
                    <div class="form-group form-group mx-sm-3 mb-2">
                        <input asp-for="masterData" class="form-control" />
                    </div>
                    <div>
                        <button class="btn btn-primary">Add</button>
                    </div>
                    <div style=" margin-left: 11px;">
                        <a class="btn btn-danger" asp-action="@url" asp-route-id=4>View All</a>
                    </div>

                </form>
            </div>
            <div class="d-flex justify-content-center">
                <form asp-action="MasterData" method="post" class="form-inline">
                    <div class="form-group mb-2">
                        <label>OsCore</label>
                    </div>
                    <input asp-for="parantId" type="hidden" value=5 />
                    <div class="form-group form-group mx-sm-3 mb-2">
                        <input asp-for="masterData" class="form-control" />
                    </div>
                   
                        <div>
                            <button class="btn btn-primary">Add</button>
                        </div>
                        <div style=" margin-left: 11px;">
                            <a class="btn btn-danger" asp-action="@url" asp-route-id=5>View All</a>
                        </div>
                    
                </form>
            </div>
            <div class="d-flex justify-content-center">
                <form asp-action="MasterData" method="post" class="form-inline">
                    <div class="form-group mb-2">
                        <label>Ram</label>
                    </div>
                    <input asp-for="parantId" type="hidden" value=6 />
                    <div class="form-group form-group mx-sm-3 mb-2">
                        <input asp-for="masterData" class="form-control" />
                    </div>

                    
                        <div>
                            <button class="btn btn-primary">Add</button>
                        </div>
                        <div style=" margin-left: 11px;">
                            <a class="btn btn-danger" asp-action="@url" asp-route-id=6>View All</a>
                        </div>
                  


                </form>
            </div>
            <div class="d-flex justify-content-center">
                <form asp-action="MasterData" method="post" class="form-inline">
                    <div class="form-group mb-2">
                        <label>Storage</label>
                    </div>
                    <input asp-for="parantId" type="hidden" value=7 />
                    <div class="form-group form-group mx-sm-3 mb-2">
                        <input asp-for="masterData" class="form-control" />
                    </div>
                  
                        <div>
                            <button class="btn btn-primary">Add</button>
                        </div>
                        <div style=" margin-left: 11px;">
                            <a class="btn btn-danger" asp-action="@url" asp-route-id=7>View All</a>
                        </div>
                    
                </form>
            </div>
            <div class="d-flex justify-content-center">
                <form asp-action="MasterData" method="post" class="form-inline">
                    <div class="form-group mb-2">
                        <label>CamFeature</label>
                    </div>
                    <input asp-for="parantId" type="hidden" value=8 />
                    <div class="form-group form-group mx-sm-3 mb-2">
                        <input asp-for="masterData" class="form-control" />
                    </div>
                   
                        <div>
                            <button class="btn btn-primary">Add</button>
                        </div>
                        <div style=" margin-left: 11px;">
                            <a class="btn btn-danger" asp-action="@url" asp-route-id=8>View All</a>
                        </div>
                </form>
            </div>
        </div>
    </div>



</div></div></div>
<script>
    function colorChange(){
var color = $("#coloInput").val()
        //var color = document.getElementById("coloInput").val()
        console.log(color)
        $("#color").css("background-color",color)
        
    }
    $(function () {
      // Basic instantiation:
      $('#demo-input').colorpicker();
      
      // Example using an event, to change the color of the #demo div background:
      $('#demo-input').on('colorpickerChange', function(event) {
        $('#demo').css('background-color', event.color.toString());
      });
    });
</script>
<style>
    #color{
        width: 65px;
    content: "";
    min-height: 65px;
        border-radius: 51px;
    }
     #colorpicker{
        width: 65px;
    content: "";
    min-height: 65px;
        border-radius: 51px;
    }
    .btn-danger {
        color: white;
        margin-top: -2%;
    }
    .btn-primary {
        margin-top: -2%;
    }
    
</style>