@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model DomainLayer.Checkout;

@{ 
    var productDetails = ViewData["ProuductDetails"] as DomainLayer.ProductModel.ProductEntity;
    var addressDetails = ViewData["Address"] as DomainLayer.Users.Address;
}
<div class=" " container>

    <div class="box"></div>
    <div class="icon"></div>
    <div class=" text">
        <p>
            OrderId:@Model.orderId<br>
            <br>
            @productDetails.productBrand<br>@productDetails.name (Blue, @productDetails.specs.ram GB RAM,@productDetails.specs.storage GB Storage)<br>Quantity:@Model.quatity<br>Price:@Model.price/-<br>@addressDetails.name<br>@addressDetails.address <br>@addressDetails.pincode,@addressDetails.district,@addressDetails.country<br>@addressDetails.phoneNumber
        </p>
    </div>
</div>

