@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<DomainLayer.Checkout>

@{
    var values = Enum.GetValues(typeof(DomainLayer.OrderStatus));
}

    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="paging.js"></script> 
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://www.solodev.com/assets/pagination/jquery.twbsPagination.js"></script>
<script src="paging.js"></script>
<style>


    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;}
        #submit-btn{
            padding-bottom : 100px;
            padding-left : 100px;
        }

        .paging-nav {
  text-align: right;
  padding-top: 2px;
}

.paging-nav a {
  margin: auto 1px;
  text-decoration: none;
  display: inline-block;
  padding: 1px 7px;
  background: #91b9e6;
  color: white;
  border-radius: 3px;
}

.paging-nav .selected-page {
  background: #187ed5;
  font-weight: bold;
}
</style>

<form asp-action="OrderUpdate" method="post" id="order_form">

<table>
    <tr>
        <th>Filter</th>
        <th>All</th>
        <th><button onclick="submitform()">submit</button></th>
</table>
        </tr>
<div class="container-fluid mt-3 align-middle">
    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <div class="">

<table id="datatable" class="table table-bordered table-hover table-sm" style="width:100%">
    <tr>
        <th>SL</th>
        <th>Order Id</th>
        <th>Quantity</th>
        <th>Cancel Requested</th>
        <th>Product Name</th>
        <th>Status</th>
    </tr>
    @{int i =0; }
   @foreach (var item in Model)
   {
       i += 1; 
        <tr>
            <td>
              @i
            </td>
            <td>
                <a asp-action="orderDetails" asp-route-id="@item.orderId">@Html.DisplayFor(modelItem => item.orderId)</a>
                <input name="orderId[]" value="@item.orderId" type="hidden"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quatity)
            </td>
            <td>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productId)
            </td>
            <td>
            
            <select  name="status[]" asp-items="new SelectList(values)" >
                <option >@item.status</option>
            </select>
           
            </td>
        </tr>
}

</table>
</div>
</div>
</div>
</div>
<div class="text-center">
   <br />
    <br />
</div>
</form>
<script>
    function submitform(){
        document.getElementById("order_form").submit();
    }
     $(document).ready(function() {
    $('#tableDemo').twbsPagination(
       totalPages: 5,
  // the current page that show on start
  startPage: 1,

  // maximum visible pages
  visiblePages: 5,

  initiateStartPageClick: true,
    );
     });

</script>


