@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<DomainLayer.Checkout>

@{
     var values = Enum.GetValues(typeof(DomainLayer.OrderStatus));
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;}
        #submit-btn{
            padding-bottom : 100px;
            padding-left : 100px;
        }
</style>

<form asp-action="OrderUpdate" method="post" id="order_form">

<table>
    <tr>
        <th>Filter</th>
        <th>All</th>
        <th><button onclick="submit-form()">submit</button></th>
</table>
        </tr>


<table>
    <tr>
        <th>SL</th>
        <th>Order Id</th>
        <th>Cancel Requested</th>
        <th>Status</th>
    </tr>

   @foreach (var item in Model) {
        <tr>
            <td>
                1
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orderId)
                <input name="orderId[]" value="@item.orderId" type="hidden"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quatity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productId)
            </td>
            <td>
            
            <select name="status[]" asp-items="new SelectList(values)" value="@item.status"></select>
           
            </td>
        </tr>
}

</table>
<div class="text-center">
   <br />
    <br />
    <button class="alert-primary"> Save </button>
</div>
</form>
<script>
    function submit-form(){
        document.getElementById("order_form").submit();
    }
</script>


