
@model DomainLayer.ProductModel.ProductEntity
@{
    var data = ViewData["images"] as IEnumerable<DomainLayer.ProductModel.Images>;
    var data1 = ViewData["images"] as IEnumerable<DomainLayer.ProductModel.Images>;
    var returnUrl = ViewBag.ReturnUrl as string;
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">


<div class="row col-12">
    <div class="col-4 _78xt5Y">
        <div class="row col-12">
            <div class="col-3 ">
                @{if (Model.images == null)
                    {
                        <h1>No images</h1>
                    }
                    else
                    {
                        foreach (var item in Model.images)
                        {

                            <img src="@item.imagePath" class="card sideImage " onclick="showImage('@item.imagePath');" />
                            <span class="fa-solid fa-trash  deleteImage1 glyphicon-remove div1  position-absolute" onclick="deleteImage(@item.id)"></span>
                        }
                        <i class="fa fa-plus add-image" onclick="someFunction(@Model.id)" style="padding: 16px;border-block: 1px black;border: 2px solid;margin-top: 11px;"></i>
                    }}
            </div>
            @{if (Model.images != null && Model.images.Any())
                {

                    <img class="card col-7 Image showimage" src="@Model.images.FirstOrDefault().imagePath" alt="No images available" />

                }
                else
                {
                    <p>No Image</p>
                }}
        </div>

    </div>
    <div class="col-8">
        <p class="heading">@Model.name @Model.productBrand                                                                                                                                                              </p>
        <span class="card price"> &#8377 @Model.price</span>
        <div style="margin:2%"><span>Number of orders for this product : <span class="bold">@Model.purchasedNumber </span></span></div>
        <table class="table table-hover col-7">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td>Processor</td>
                    <td>@Model.specs.processor</td>
                </tr>
                <tr>
                    <td>Cores</td>
                    <td>@Model.specs.core</td>
                </tr>
                <tr>
                    <td>Ram</td>
                    <td>
                        @foreach (var item in Model.specs.rams.ToList())
                        {<span>@item.ram </span>}
                </td>
            </tr>
            <tr>
                <td>Storage</td>
                <td>
                    @foreach (var item in Model.specs.storages.ToList())
                    {<span>@item.storage </span>}
                </td>
            </tr>
            <tr>
                <td>Sim Type</td>
                <td>@Model.specs.simType</td>
            </tr>
            <tr>
                <td>Rear Camera</td>
                <td>@Model.specs.simType</td>
            </tr>
            <tr>
                <td>Quantity</td>
                <td>@Model.quantity</td>
            </tr>
            <tr>
                <td>Description</td>

                <td>@Html.Raw(Model.description)</td>

            </tr>
        </tbody>
    </table>
</div>
</div>

<script>

    function showImage(data) {

        $(".showimage").attr('src', data);
    }
</script>
<style>
    .sideImage {
        width: 54px;
        padding: 1%
    }

    .Image {
        padding: 1%;
    }

    .heading {
        font-size: 19px;
        font-family: system-ui;
        font-weight: bold;
        margin-top: 2%;
    }

    .price {
        padding: 1%;
        border-radius: 24px;
        min-width: 14%;
        max-width: 20%;
        font-weight: bold;
        font-size: 24px;
        color: tomato;
    }

    .bold {
        font-weight: bold;
    }

    .buy {
        text-align: center;
        padding: 2%;
        background-color: #ff0404;
        margin: 4%;
        border-radius: 28px;
        color: white !important;
        font-size: 20px;
    }

    .cart {
        text-align: center;
        padding: 2%;
        background-color: blue;
        margin: 4%;
        border-radius: 28px;
        color: white !important;
        font-size: 20px;
    }

    ._78xt5Y {
        position: -webkit-sticky;
        position: sticky;
        top: 64px;
        bottom: 0;
        z-index: 2;
        -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
        align-self: flex-start;
    }
</style>
<div id="deleteModel" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>

        </div>
    </div>
</div>
<div id="partialModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>

        </div>
    </div>
</div>
<script>

    function showImage(data) {

        $(".showimage").attr('src', data);
    }
    function someFunction(data) {
        var id = data;
        $(document).ready(function (e) {
            $.ajax({
                url: '/admin/ProductDetails/AddImage/' + id,
                type: 'get',
                success: function (response) {
                    $("#partialModal").find(".modal-body").html(response);
                    $("#partialModal").modal('show');
                },
                failure: function (response) {
                    alert("fail");
                },
                error: function (response) {
                    console.log(response);
                }
            })

        });
    }

</script>
<style>
    .sideImage {
        width: 54px;
        padding: 1%
    }

    .Image {
        padding: 1%;
    }

    .heading {
        font-size: 19px;
        font-family: system-ui;
        font-weight: bold;
        margin-top: 2%;
    }

    .price {
        padding: 1%;
        border-radius: 24px;
        min-width: 14%;
        max-width: 20%;
        font-weight: bold;
        font-size: 24px;
        color: tomato;
    }

    .bold {
        font-weight: bold;
    }

    .buy {
        text-align: center;
        padding: 2%;
        background-color: #ff0404;
        margin: 4%;
        border-radius: 28px;
        color: white !important;
        font-size: 20px;
    }

    .cart {
        text-align: center;
        padding: 2%;
        background-color: blue;
        margin: 4%;
        border-radius: 28px;
        color: white !important;
        font-size: 20px;
    }

    ._78xt5Y {
        position: -webkit-sticky;
        position: sticky;
        top: 64px;
        bottom: 0;
        z-index: 2;
        -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
        align-self: flex-start;
    }
    .addImageIcon {
        padding: 16px;
        border-block: 1px black;
        border: 2px solid;
        margin-top: 11px;
        width: 69%;
    }
    .deleteImage1 {
        background-color: cornsilk;
        width: 18%;
        cursor: pointer;
        height: 4%;
    }
    .position-absolute {
        position: absolute !important;
        font-size: 18px;
        color: black;
        margin-top: -109px;
        padding: 1px;
    }
    i {
        width: 51px;
        text-align: center;
        vertical-align: middle;
        position: relative;
    }
</style>

<script>
    function deleteImage(data) {
        var id = data;
        $.ajax({
            url: 'DeleteImage?id=' + id,
            type: 'get',
            success: function (response) {
                $("#deleteModel").find(".modal-body").html(response);
                $("#deleteModel").modal('show');
            },
            failure: function (response) {
                alert("fail");
            },
            error: function (response) {
                console.log(response);
            }
        })

    }


    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>