@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<link href="~/css/userLayout.css" rel="stylesheet" />
<link href="~/css/Index.css" rel="stylesheet" />
@{
    int count = (int)ViewBag.count;
    int pagination = 1;
}
@model IEnumerable<DomainLayer.ProductModel.ProductEntity>
<div id="Index">
    @if (Model == null || Model.Count().Equals(0))
    {

        <img src="/css/Images/no product.png" class="noImage" />


    }
    else
    {
        <div class="row center">
            @foreach (var item in Model)
            {
                <div class="card shadow-lg  bg-white rounded mr-4 mt-4 col-xl-3 col-lg-5 col-md-6 col-sm-6 abc" style="padding:2%;">
                    <div class="">

                        <div class="col-12">
                            <h4 class="card-title" style="">@item.name</h4>
                            @if (item.images == null || item.images.Count == 0)
                            {
                                <div class="col-3" align="center"><a asp-action="ProductDetails" asp-route-id="@item.id"><img src="~/css/Images/noimage.jpg" style="align-items:center;  height: 100%; width: 700%;"></a></div>
                            }
                            else
                            {
                                @foreach (var data in item.images)
                                {
                                    <a asp-action="ProductDetails" asp-route-id="@item.id"><div class="col-12" align="center"><img src="@data.imagePath" style="align-items: center; height: 59%; width: 47%;"></div></a>
                                    break;
                                }
                            }



                            <div class="col-12 row">

                             <p style=" color: black; font-family: fantasy; font-size: larger;" class="col-12 responsive-font-example card price">  &#8377 @item.price</p>
                            </div>


                        </div>
                        <div class="row">
                            <a asp-route-id="@item.id" asp-action="Order" style="" id="buyNow"class="col-5 buynow btn btn-orange row "><div >Buy Now</div></a>
                            <div class="col-2"></div>
                            <a asp-action="AddtoCart" asp-route-id="@item.id" style="" id="addtoCart" class="col-5  btn btn-indigo row"><div asp->Add to Cart</div></a>
                        </div>
                    </div>
                </div>
            }

        </div>

    }
    @if (Model != null && Model.Count() > 0)
    {
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                @if (Model != null)
                {
                    @for (int i = 0; i <= count; i++)
                    {
                        <li class="page-item"><a class="page-link" id="pagination" onclick="pagination(@i)">@pagination</a></li>

                        pagination = pagination + 1;
                    }
                }


            </ul>
        </nav>
    }

</div>



<style>
    .abc:hover {
        transform: scale(1.2);
        z-index: 9999;
    }
    .price {
        padding: 1%;
        border-radius: 24px;
        min-width: 14%;
        max-width: 100%;
        font-weight: bold;
        font-size: 24px;
        color: tomato;
        text-align:center;
    }
</style>
@if (@ViewBag.Search != null)
{
    <input name="searchName" type="hidden" value="@ViewBag.Search" />
}

<script>
    var searchName = "@ViewBag.Search";
    var name = $("input[name='searchName']").val()

</script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
