<div class="" style="padding-top:60px;">
    <div class="sidebar">
        <a class="" asp-action="">Dashboard</a>
        <div id="product">
        <a  class="@(Context.Request.Path == "/Admin" ? "active" : "")">Products</a>
        <div id="dropdown1" class="dropdown">
            <a asp-action="Create" class="@(Context.Request.Path == "/Admin/Product/Create" ? "active " : "")">Create</a>
        </div>
        </div>
        <div id="settings">
        <a   class="@(Context.Request.Path == "/Admin/Settings" ? "active" : "")">Settings</a>
        <div id="dropdown2" class="dropdown">
            <a asp-action="Contact" id="dropdown2" class="@(Context.Request.Path == "/Admin/Contact" ? "active " : "")">Contact Us</a>

            <a asp-action="About" id="dropdown2" class="@(Context.Request.Path == "/Admin/About" ? "active " : "")">About</a>
            <a asp-action="Privacy" id="dropdown2" class="@(Context.Request.Path == "/Admin/Privacy" ? "active " : "")">Privacy  and Policy</a>
            <a asp-action="MasterData" id="dropdown2" class="@(Context.Request.Path == "/Admin/Settings/Master" ? "active " : "")">Master</a>

        </div>
        </div>
        <a asp-action="userdata" class="@(Context.Request.Path == "/Admin/Settings/Master" ? "active " : "")">Users</a>

        <a asp-action="orderlist" class="@(Context.Request.Path == "/Admin/Settings/Master" ? "active " : "")">Orders</a>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
  $("#product").mouseenter(function(){
    $("#dropdown1").show();
  });
  $("#product").mouseleave(function(){
    $("#dropdown1").hide();
  });
});

 $(document).ready(function(){
  $("#settings").click(function(){
    $("#dropdown2").toggle();
  });
});
    </script>
    <style>
        .dropdown {
            display: none;
            background-color: #19bb7b;
            padding-left: 8px;
        }
    </style>
 </div>